@charset "UTF-8";
html {
  scroll-padding-top: 100px;
}

ul {
  list-style: none;
}

h1 {
  text-align: left;
}

.brp, .icon-brp {
  display: none;
}

body {
  height: 100%;
  width: 100%;
  margin-inline: auto;
  display: -ms-grid;
  display: grid;
  place-content: center;
  padding: 0;
  letter-spacing: 2px;
  font-size: 14px;
}

.container {
  text-align: left;
  width: 1100px;
  margin-inline: auto;
}

p {
  font-family: 'Osaka-Mono';
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0%;
  margin: 50px 0 0 0;
}

.header h1 {
  font-family: 'Osaka-Mono';
  font-size: 22px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.header a {
  text-decoration: none;
  font-family: 'Osaka-Mono';
  font-size: 18px;
  margin: 5px 0 0 0;
  position: relative;
}

.header a::after {
  background-color: #6060d2;
  /* 下線の色 */
  bottom: -2px;
  /* 要素の下端からの距離 */
  content: "";
  /* 要素に内容を追加 */
  height: 2px;
  /* 下線の高さ */
  left: 0;
  /* 要素の左端からの距離 */
  position: absolute;
  /* 絶対位置指定 */
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  /* 下線を横方向に0倍、縦方向に1倍に変形（非表示） */
  -webkit-transform-origin: left top;
          transform-origin: left top;
  /* 変形の原点を左上に指定 */
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  /* 変形をアニメーション化 */
  width: 98%;
  /* 要素の幅 */
}

.header a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  /* 下線を横方向に1倍、縦方向に1倍に変形（表示） */
}

.header a:visited {
  color: inherit;
}

.client {
  margin-top: 100px;
}

.banner-box {
  margin-bottom: 75px;
}

.logoimg-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 25px;
          column-gap: 25px;
  padding: 0%;
  margin-inline: auto;
}

.logoimg-list img {
  border: solid 1px #777777;
  margin: 0 0 25px 0;
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.logoimg-list img:hover {
  opacity: 0.4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav-box {
  margin: 50px 0 0 0;
}

.nav-banner, .nav-illust, .nav-UIdesign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0%;
  margin: 0 0 50px 0;
}

.nav-banner li, .nav-illust li, .nav-UIdesign li {
  font-family: 'Osaka-Mono';
  font-size: 14px;
  text-align: center;
  border: 1px solid #000;
  margin: 0 25px 0 0;
  padding: 2px 6px;
}

.nav-banner li a, .nav-illust li a, .nav-UIdesign li a {
  text-decoration: none;
}

.nav-banner li :visited, .nav-illust li :visited, .nav-UIdesign li :visited {
  color: black;
}

.nav-banner li :hover, .nav-illust li :hover, .nav-UIdesign li :hover {
  color: black;
  color: #6060d2;
}

.nav-banner li:first-child {
  background-color: #ffea00;
  color: black;
}

.nav-UIdesign li:nth-child(2) {
  background-color: #ffea00;
  color: black;
}

.nav-illust li:nth-child(3) {
  background-color: #ffea00;
  color: black;
}

.UIdesign-box {
  margin-bottom: 100px;
}

.icon-box img {
  width: 63px;
  height: 63px;
  border-radius: 25%;
  border: solid 1px #777777;
}

.app-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0%;
  padding: 0%;
}

.app-img img {
  width: 252px;
  height: auto;
  margin: 0 25px 50px 0;
}

.app-img li:nth-child(3) img {
  margin: 0 0 50px 0;
}

.app-img p {
  margin: 0 auto;
  font-size: 20px;
}

.icon-box, .CD-img, .nengajyo-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 806px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0%;
}

.icon-box img, .CD-img img, .nengajyo-img img {
  margin: 0 25px 0 0;
}

.icon-box p, .CD-img p, .nengajyo-img p {
  font-size: 16px;
  line-height: 28px;
}

.app-img {
  margin: -25px 0 0 0;
}

.app-box h3 {
  margin: -25px 0 10px 0;
}

.app-box p {
  margin: -25px 0 0 0;
}

.coment {
  width: 806px;
  margin: 0 auto;
}

.txt {
  display: inline-block;
  text-align: left;
  line-height: 30px;
  margin: 0;
}

.CD-img img, .nengajyo-img img, .birthday-img img, .others-img img {
  margin: 0 25px 20px 0;
  border: solid 1px #777777;
}

.CD-img {
  margin-bottom: 0;
}

.CD-img li:first-child img {
  width: 525px;
  height: auto;
}

.CD-img li:nth-child(2) img {
  width: auto;
  height: 399px;
  margin-right: 0;
}

.CD-box, .nengajyo-box, .birthday-box, .others-box {
  margin: 0 0 100px 0;
}

.CD-box h3, .nengajyo-box h3, .birthday-box h3, .others-box h3 {
  margin: 0;
}

.birthday-img, .others-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0%;
  padding: 0%;
}

.birthday-img li img, .others-img li img {
  width: 390px;
  margin: 0 0 25px 0;
}

.birthday-img li:first-child img, .others-img li:first-child img {
  margin-right: 25px;
}

.nengajyo-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 806px;
  padding: 0%;
}

.nengajyo-img li img {
  width: 252px;
  height: auto;
  margin: 0 25px 20px 0;
}

.nengajyo-img li:nth-child(2) img {
  margin-right: 0;
}

.profile-box {
  text-align: center;
  margin-top: 150px;
}

.profile-box img {
  width: 806px;
  height: auto;
  margin: 0;
}

.name-box {
  width: 806px;
  margin: 0 auto;
}

.namae {
  text-align: left;
  font-size: 28px;
  margin: 0;
}

.name {
  text-align: left;
  margin: 20px 0 50px 0;
}

.profile-img {
  width: 806px;
  margin: 0 auto;
  padding: 0%;
}

.profile-img li:nth-child(2) {
  line-height: 28px;
}

.profile-img li:nth-child(4) p {
  display: inline-block;
}

.profile-img ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 50px 0;
  padding: 0%;
  width: 806px;
}

.contact-icon {
  border: 1px solid #000;
  margin: 0 10px;
  padding: 0 2px;
  color: #CCC;
  background-color: #000;
}

footer p {
  font-size: 10px;
  font-family: 'Osaka-Mono';
  margin: 100px 0 0 0;
  line-height: 1px;
}

/*↓banner.htmlのcss*/
.banner-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 25px;
          column-gap: 25px;
  padding: 0%;
  margin-inline: auto;
}

.banner-list img {
  border: solid 1px #777777;
  margin: 0 0 25px 0;
  width: 250px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner-header {
  position: fixed;
  width: 100%;
  height: 60px;
  padding: 20px 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0%;
}

.banner-header a {
  text-decoration: none;
}

.banner-header a:visited {
  color: inherit;
}

.banner-header h1 {
  font-family: 'Osaka-Mono';
  font-size: 22px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.banner-header .banner-profile {
  text-decoration: none;
  font-family: 'Osaka-Mono';
  font-size: 18px;
  margin: 5px 0 0 0;
  position: relative;
}

.banner-header .banner-profile::after {
  background-color: #6060d2;
  /* 下線の色 */
  bottom: -2px;
  /* 要素の下端からの距離 */
  content: "";
  /* 要素に内容を追加 */
  height: 2px;
  /* 下線の高さ */
  left: 0;
  /* 要素の左端からの距離 */
  position: absolute;
  /* 絶対位置指定 */
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  /* 下線を横方向に0倍、縦方向に1倍に変形（非表示） */
  -webkit-transform-origin: left top;
          transform-origin: left top;
  /* 変形の原点を左上に指定 */
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  /* 変形をアニメーション化 */
  width: 98%;
  /* 要素の幅 */
}

.banner-header .banner-profile:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  /* 下線を横方向に1倍、縦方向に1倍に変形（表示） */
}

.banner-header .banner-profile:visited {
  color: inherit;
}
/*# sourceMappingURL=style.css.map */