@charset "UTF-8";
html {
  scroll-padding-top: 100px;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: left;
}

.brp, .icon-brp {
  display: none;
}

body {
  height: 100%;
  width: 100%;
  margin-inline: auto;
  display: grid;
  place-content: center;
  padding: 0;
  letter-spacing: 2px;
  font-size: 14px;
}

.container {
  text-align: left;
  width: 1083px;
  margin-inline: auto;
}

p, li {
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
}

a {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: inherit;
}

.fontsize18 {
  font-size: 18px;
}

.fontsize12 {
  font-size: 12px;
}

.fixed-area {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.04);
}

.header-box {
  width: 1083px;
  margin: 0 auto;
}

.header {
  height: 100px;
  padding: 20px 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0%;
}
.header a {
  text-decoration: none;
}
.header a:visited {
  color: inherit;
}
.header p {
  margin: 0;
  padding: 0;
  line-height: 3px;
}
.header .home :hover {
  color: #cccccc;
}
.header .maologo {
  width: 220px;
}
.header .header_right {
  display: flex;
}
.header .header_right a {
  margin-right: 50px;
  padding-left: 15px;
  border-left: 1px solid #cccccc;
  height: 7px;
}
.header .header-profile {
  text-decoration: none;
  font-family: "Noto Sans JP", serif;
  margin: 0;
  position: relative;
}
.header .header-profile :hover {
  color: #cccccc;
}
.header .header-profile:visited {
  color: inherit;
}

.pagetop {
  height: 50px;
  width: 50px;
  position: fixed;
  right: 50px;
  bottom: 50px;
  background: #fff;
  border: solid 1px #cccccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.pagetop__arrow {
  height: 10px;
  width: 10px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  transform: translateY(20%) rotate(-45deg);
}

.logoimg-list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 25px;
       column-gap: 25px;
  padding: 0%;
  margin-inline: auto;
}
.logoimg-list li {
  border: solid 1px #cccccc;
  margin-bottom: 25px;
  width: 250px;
  height: 250px;
  overflow: hidden;
}
.logoimg-list img {
  margin: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.logoimg-list img:hover {
  opacity: 0.4;
}

.profile-box {
  text-align: center;
  margin-top: 150px;
}
.profile-box img {
  width: 529px;
  height: auto;
  margin: 0;
}

.name-box {
  width: 529px;
  margin: 0 auto;
}
.name-box .maologo_02 {
  width: 300px;
  margin: 100px 0 50px 0;
}

.namae {
  text-align: center;
  font-size: 28px;
  margin: 0;
}

.name {
  text-align: center;
  margin: 20px 0 50px 0;
}

.profile-img {
  width: 529px;
  padding: 0%;
  margin: 0 auto;
}
.profile-img ul {
  display: inline-block;
  text-align: left;
  margin: 0;
  padding: 0;
  width: 529px;
}

.profile-item {
  margin: 0 0 20px 0;
}

.skil-box, .contact-box {
  display: flex;
  width: 529px;
  margin-bottom: 50px;
}

.history-box {
  width: 529px;
  margin: 45px 0 50px 0;
}

.history-line {
  display: flex;
  width: 529px;
  margin-bottom: 10px;
}
.history-line p {
  margin: 0;
}

.history-left, .contact-left {
  display: flex;
  width: 55px;
  margin: 0 5px;
}

.skil-center {
  overflow-wrap: break-word;
}
.skil-center p {
  margin: 0;
}

.contact-left p {
  margin: 0 0 10px 0;
}

.history-right, .contact-right {
  display: flex;
  width: 474px;
}
.history-right p, .contact-right p {
  margin: 0 0 10px 0;
}

.mail :hover {
  color: #cccccc;
}
.mail:visited {
  color: inherit;
}

.maildot {
  text-decoration: underline;
  -webkit-text-decoration-color: #cccccc;
          text-decoration-color: #cccccc;
  text-underline-offset: 5px;
}

footer p {
  font-size: 10px;
  margin: 100px 0 50px 0;
  line-height: 1px;
  text-align: center;
}

/*↓banner.htmlのcss*/
.client {
  margin-top: 100px;
}

.client-container {
  margin: 150px 0;
}

.banner-box {
  margin: 100px 0 0 0;
}

.client-top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.client-top .product {
  font-size: 18px;
  margin-left: 10px;
  border-left: 1px solid #cccccc;
  padding-left: 10px;
}
.client-top .tag {
  border: 1px solid #cccccc;
  color: #000;
  background-color: #fff;
  margin-left: 20px;
  font-size: 12px;
  line-height: 20px;
  padding: 0 4px 0 5px;
}

.coment {
  display: flex;
  margin: 50px 0;
}

.production {
  width: 252px;
  margin: 0 27px 0 0;
  display: flex;
  flex-wrap: wrap;
}

.time-skill {
  overflow-wrap: break-word;
  width: 182px;
}

.production-content {
  width: 528px;
  padding: 0;
}

.app-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0%;
  padding: 0%;
}
.app-img img {
  width: 252px;
  height: auto;
  margin: 0 25px 50px 0;
}
.app-img li:nth-child(4) img {
  margin: 0 0 50px 0;
}

.illust-box, .web-img-box {
  margin: 0 0 100px 0;
}

.CD-img img, .nengajyo-img img, .birthday-img img, .others-img img {
  margin: 0 25px 20px 0;
  border: solid 1px #cccccc;
}

.CD-img, .nengajyo-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.CD-img img, .nengajyo-img img {
  margin: 0 25px 20px 0;
}
.CD-img p, .nengajyo-img p {
  font-size: 16px;
  line-height: 28px;
}

.web-img-display, .web-img-all {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.web-img-display img, .web-img-all img {
  margin: 0 25px 20px 0;
}

.web-img-display {
  align-items: flex-end;
}
.web-img-display li:first-child img {
  width: 556px;
  height: auto;
}
.web-img-display li:nth-child(2) img {
  width: auto;
  height: 200px;
  margin-right: 0;
}

.web-img-all {
  align-items: flex-start;
}
.web-img-all li:first-child img {
  width: 576px;
  height: auto;
}
.web-img-all li:nth-child(2) img {
  width: 375px;
  height: auto;
  margin-right: 0;
}

.CD-img li:first-child img {
  width: 525px;
  height: auto;
}
.CD-img li:nth-child(2) img {
  width: auto;
  height: 399px;
  margin-right: 0;
}

.nengajyo-img li img {
  width: 252px;
  height: auto;
  margin: 0 25px 20px 0;
}
.nengajyo-img li:nth-child(2) img {
  margin-right: 0;
}

.birthday-img, .others-img {
  margin: 0;
  padding: 0;
  text-align: center;
}
.birthday-img li img, .others-img li img {
  width: 375px;
  margin: 0 0 20px 0;
}

.banner-list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 25px;
       column-gap: 25px;
  padding: 0%;
  margin-inline: auto;
}
.banner-list img,
.banner-list video {
  margin: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

ul#client01-list li, ul#client02-list li, ul#client03-list li, ul#client04-list li, ul#client05-list li, ul#client06-list li, ul#client07-list li, ul#client08-list li, ul#client09-list li, ul#client10-list li, ul#client11-list li, ul#client12-list li, ul#client13-list li, ul#client15-list li, ul#client16-list li {
  border: solid 1px #cccccc;
  margin-bottom: 25px;
  width: 250px;
  height: 250px;
}/*# sourceMappingURL=style.css.map */